/.idea
/.venv
/instance
/tests
/user_files

.git/
.pytest_cache/
__pycache__/
frontend/node_modules/
public/

.coverage
.dockerignore
.env*
!.env.example
celerybeat-schedule
docker-compose.override.yml
