DJANGO_SETTINGS_MODULE=mmt.settings_prod
# Create secret key with:
# python manage.py shell -c 'from django.core.management import utils; print(utils.get_random_secret_key())'
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=example.com www.example.com
CELERY_BROKER_URL=redis://redis
# MariaDB Docker Container
MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=mmt
# Django Database credentials
DATABASE_HOST=db
DATABASE_NAME=mmt
DATABASE_USER=
DATABASE_PASSWORD=
# Django Email credentials
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
# Sentry error tracking URL (optional)
SENTRY_URL=
