.env
/.env.dev
/.env.prod
/.idea
.venv
/app/build
/app/celerybeat-schedule*
/app/coverage
/app/vite_assets_dist

*.log
__pycache__
dev_emails
node_modules
db.sqlite3
staticfiles
/asr/spool
*.tar
*.mo
inventory.yml
my.cnf
.hotfile

/app/user_files
/app/user_files_test
