{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}
    {% translate "Accept terms" %} | {{ block.super }}
{% endblock %}
{% block content %}
    <h1>{% translate "Accept terms" %}</h1>

    <form action="{% url 'account:accept_terms' %}" method="post" class="form">
        {% csrf_token %}

        {# Accept terms #}
        {% if form.accept_terms_field %}
            <p class="u-ll u-mt">
                {% blocktrans %}The <a href="https://www.oral-history.digital/en/mitmachen/mmt" target="_blank">terms of use</a> have been updated. You have to agree again.{% endblocktrans %}
            </p>
            <div class="u-flex u-mt-small">
                <span>{{ form.accept_terms_field|add_class:"form__input" }}</span>
                <label for="{{ form.accept_terms_field.id_for_label }}" class="form__label">{{ form.accept_terms_field.label }}</label>
            </div>
        {% endif %}

        {# Accept dpa #}
        {% if form.accept_dpa_field %}
            <p class="u-ll u-mt">
                {% blocktrans %}You have to accept the <a href="" target="_blank">data processing agreement</a> to use MMT.{% endblocktrans %}
            </p>
            <div class="u-flex u-mt-small">
                <span>{{ form.accept_dpa_field|add_class:"form__input" }}</span>
                <label for="{{ form.accept_dpa_field.id_for_label }}" class="form__label">{{ form.accept_dpa_field.label }}</label>
            </div>
        {% endif %}

        <div class="u-mt">
            <button type="submit"
                    class="button button--primary"
                    data-testid="submit-form-button">{% translate "Accept" %}</button>
        </div>
    </form>
{% endblock %}
