{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Profile" %} | {{ block.super }}
{% endblock %}
{% block content %}
    {% translate "Profile" as page_title %}
    <nav class="breadcrumbs">
        <p>
            <a>{{ page_title }}</a>
        </p>
    </nav>
    <h1>{{ page_title }}</h1>
    <dl>
        <dt>{% translate "Account name" %}</dt>
        <dd>
            {{ user.username }}
        </dd>
        <dt>{% translate "Email" %}</dt>
        <dd>
            {{ user.email }}
        </dd>
        <dt>{% translate "Full name" %}</dt>
        <dd>
            {{ profile.full_name }}
        </dd>
        <dt>{% translate "Locale" %}</dt>
        <dd data-testid="locale-display">
            {{ profile.get_locale_display }}
        </dd>
        <dt>{% translate "Permissions" %}</dt>
        <dd data-testid="permissions">
            <ul>
                <li>Download</li>
                {% if perms.uploaded_files.add_uploadedfile %}
                <li>Upload</li>
                {% endif %}
            </ul>
        </dd>
        <dt>{% translate "Last login" %}</dt>
        <dd>
            {{ user.last_login }}
        </dd>
        <dt>{% translate "Date joined" %}</dt>
        <dd>
            {{ user.date_joined }}
        </dd>
    </dl>
    <form method="post" action="{% url 'account:upload-permission' %}" class="form">
        {% csrf_token %}
        <button type="submit">
            {% translate "Request upload permission" %}
        </button>
    </form>
    <p class="paragraph u-mt">
        <a href="{% url 'account:edit_profile' %}"
           class="button-link"
           data-testid="edit-profile-link">{% translate "Edit profile" %}</a>
    </p>
    <p class="paragraph u-mt-small">
        <a href="{% url 'account_change_password' %}" class="button-link">{% translate "Change password" %}</a>
    </p>
{% endblock %}
