.button-link {
  align-items: center;
  border-radius: 0.25rlh;
  border: 0.05rlh solid oklch(85.193% 0.00999 273.323);
  display: inline-flex;
  font: inherit;
  justify-content: center;
  line-height: 1rlh;
  padding-block: calc(0.25rlh - 0.05rlh);
  padding-inline: 0.5rlh;
  text-decoration: none;
}
