.chunked-queue-item {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    line-height: 1rlh;
    min-width: 0;
    opacity: 0.5;
    padding: 0.25rlh 0.5rlh;
    transition-property: opacity, background-color;
    transition-duration: var(--transition-duration);
}

.chunked-queue-item--pending {
    background-color: lightgray;
    opacity: 1;
}

.chunked-queue-item--uploading {
    background-color: lightskyblue;
    opacity: 1;
}

.chunked-queue-item--uploaded {
    background-color: lightgreen;
    opacity: 1;
}

.chunked-queue-item--cancelled {
    background-color: lightyellow;
    opacity: 1;
}

.chunked-queue-item--incomplete {
    background-color: lightcoral;
    opacity: 1;
}

.chunked-queue-item__body {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chunked-queue-item__name {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rlh;
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chunked-queue-item__details {
    font-size: 0.875rem;
}

.chunked-queue-item__actions {
    flex-shrink: 0;
    margin-left: 0.5rlh;
}

.chunked-queue-item__button {
    border: 1px solid var(--danger-color);
    border-radius: 2px;
    padding: 0.25rem;
    background-color: transparent;
    transition: filter var(--transition-duration);
    cursor: pointer;
}

.chunked-queue-item__button:hover {
    filter: brightness(2);
}

.chunked-queue-item__icon {
    display: block;
    font-size: 1rem;
}

.chunked-queue-item__icon path {
    stroke: var(--danger-color);
}
