.footer {
    background-color: var(--color-blue-94);
    color: var(--text-body);
}

.footer__inner {
    padding-block: 2rlh;
}

.footer__logo {
    display: inline-block;
    vertical-align: bottom;
}

.footer__logo--ohd {
}
