.footer {
    background-color: var(--footer-color);
    color: var(--text-color);
}

.footer__inner {
    padding-block: 2rlh;
}

.footer__logo {
    display: inline-block;
    vertical-align: bottom;
}

.footer__logo--ohd {
}
