.form__label {
    font-size: var(--font-size-small);
    font-weight: bold;
    vertical-align: bottom; /* Because it is in a div. */
}

input.form__input:not([type="file"]),
textarea.form__input {
    line-height: 1rlh;
    padding: 0.25rlh 0.5rlh;
    border: 1px solid var(--text-subtle);
    border-radius: var(--border-radius-s);
}

.form__input:user-invalid {
    border: 1px solid var(--color-red-46) !important;
}

.form__error {
    color: var(--color-red-46);
    font-size: var(--font-size-small);
    margin-bottom: 0;
    margin-top: 0.25rlh;
}

.form__help {
    color: var(--text-muted);
    font-size: var(--font-size-small);
}

.form__help > ul {
    margin-bottom: 0;
    margin-top: 0;
}
