.header {
    background-color: var(--color-gray-18);
    color: #fff;
}

.header__inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rlh 0.5rlh;
    padding-block: 0.5rlh;
}

.header__title {
    font-size: 1rem;
    font-weight: var(--fw-bold);
    line-height: 1rlh;
    margin: 0;
}

.header__title-link:link,
.header__title-link:visited {
    color: #fff;
    text-decoration: none;
}
