.notice {
    background-color: var(--color-yellow-91);
    border: 1px solid var(--color-yellow-71);
    padding: 1rlh;
}

.notice--danger {
    background-color: var(--color-red-93);
    border-color: var(--color-red-46);
}

.notice__title {
    font-weight: bold;
    margin-top: 0;
}

.notice__content {
}
