.notice {
    background-color: var(--yellow-light);
    border: 1px solid var(--yellow-dark);
    padding: 1rlh;
}

.notice--danger {
    background-color: var(--red-light);
    border-color: var(--red);
}

.notice__title {
    font-weight: bold;
    margin-top: 0;
}

.notice__content {
}
