.pill {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5lh;
    padding-inline: 0.25rlh;
}

.pill--success {
    background-color: lightgreen;
    border-color: green;
}

.pill--warning {
    background-color: lightsalmon;
    border-color: salmon;
}

.pill--danger {
    background-color: lightcoral;
    border-color: coral;
}

/* specific ones for uploaded files */
.pill--complete {
    background-color: lightgreen;
    border-color: green;
}

.pill--incomplete {
    background-color: lightyellow;
    border-color: yellow;
}

.pill--missing {
    background-color: lightcoral;
    border-color: coral;
}

.pill--processing {
    background-color: lightyellow;
    border-color: orange;
}
