.pill {
    align-items: center;
    background-color: var(--pill-color);
    border-radius: 0.5lh;
    border: 1px solid color-mix(in hsl, black 20%, var(--pill-color));
    color: color-mix(in hsl, black 70%, var(--pill-color));
    display: inline-flex;
    font-size: 0.75rem;
    font-weight: 600;
    gap: 0.25rem;
    justify-content: flex-start;
    line-height: 1rem;
    padding-inline: 0.25rlh;
}

.pill--success {
    color: darkgreen;
}

.pill--warning {
    color: salmon;
}

.pill--danger {
    color: coral;
}

/* specific ones for uploaded files */
.pill--complete {
    --pill-color: #ccf4d3;
}

.pill--incomplete {
    --pill-color: #f4f2cc;
}

.pill--missing {
    color: coral;
}
