.segment {
    background-color: transparent;
    transition: background-color 125ms;
}

.segment--active {
}

.segment--current {
    background-color: var(--ternary-color);
}

.segment__header {
    display: flex;
    font-size: 0.875rem;
    gap: 0.5rlh;
}

.segment__id {
    background-color: transparent;
    border: none;
    color: gray;
    font-style: italic;
    padding: 0;
    transition: text-color 125ms;
}

.segment--active .segment__id {
    color: var(--text-color);
    font-weight: bold;
}

.segment__id:hover {
    background-color: skyblue;
}

.segment__timecode {
    background: transparent;
    border: none;
    padding: 0;
    transition: background-color 125ms;
}

.segment__timecode:hover {
    background-color: lightskyblue;
}

.segment__extra {
    color: gray;
}

.segment__text {
    border-left: 0.25rlh solid transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rlh;
    padding-left: 0.25rlh;
    transition: border-color 125ms;
}

.segment__text--dirty {
    border-color: orange;
}
