.speaker-legend {
    list-style: none;
    padding: 0;
}

.speaker-legend__item {
    display: flex;
    align-items: center;
    gap: 0.5rlh;
}

.speaker-legend__swatch {
    width: 0.5rlh;
    height: 0.5rlh;
    border-radius: var(--border-radius-s);
    flex-shrink: 0;
}
