table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 0.875rem;
    line-height: 1rlh;
}

thead,
tfoot {
    background-color: var(--color-gray-87);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    line-height: 1rlh;
    padding: 0.25rlh;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}
