.timecode {
    font-family: var(--font-mono);
    font-size: 1rem;
    line-height: 1rlh;
}

.timecode-range__separator,
.timecode-range__end {
    display: none;
}

.transcript-segment:hover .timecode-range__separator,
.transcript-segment:hover .timecode-range__end,
.transcript-segment:focus-within .timecode-range__separator,
.transcript-segment:focus-within .timecode-range__end {
    display: inline;
}

.timecode__hours {
    color: var(--color-gray-30);
}

.timecode__colon {
    color: var(--color-gray-70);
}

.timecode__minutes,
.timecode__seconds {
    color: var(--color-gray-10);
}

.timecode__point,
.timecode__milliseconds {
    color: var(--color-gray-50);
    font-size: 0.75rem;
    font-style: italic;
}
