.waveform {
    background-color: #202020;
}

.waveform__header {
    background-color: transparent;
    color: #ddd;
    display: flex;
    padding-inline: 0.5rlh;
}

.waveform__close {
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 1rlh;
    margin-left: auto;
}

.waveform__container {
    height: 150px;
    overflow-x: auto;
    overflow-y: hidden;
}

.waveform__word {
    fill: var(--color-waveform-wordbox);
    opacity: 0.33;
    transition: fill 50ms;
}

.waveform__word--active {
    fill: var(--color-waveform-wordbox-active);

}

.waveform__word-text {
    fill: white;
    font-family: serif;
    pointer-events: none;
    text-shadow: black 0 0 5px;
}
