.waveform__word {
    fill: darkblue;
    opacity: 0.6;
    transition: fill 50ms;
}

.waveform__word--active {
    fill: blue;
}

.waveform__word-text {
    fill: yellow;
    pointer-events: none;
}
