.word {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    font-family: serif;
    padding-inline: 0.125rlh;
    position: relative;
    transition: background-color 125ms;
}

.word--dirty {
    text-decoration: 3px underline orange;
}

.word--per {
    background-color: lightblue;
}

.word--loc {
    background-color: lightgreen;
}

.word--date {
    background-color: lightgoldenrodyellow;
}

.word--org {
    background-color: plum;
}

.word:hover {
    border: 1px solid lightblue;
}

.word__input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.word__input:invalid {
    background-color: crimson;
    color: white;
}

.word__input:focus {
    border: 1px solid lightblue;
    border-radius: 0.25rem;
    padding-inline: 0;
    padding-block: 0;
    text-align: center;
    caret-color: orange;
}

.word__action {
    position: absolute;
    opacity: 0.9;
    width: 1rlh;
    z-index: 1;
}

.word__new-left {
    left: -1rlh;
}

.word__new-right {
    right: -1rlh;
}

.word__remove {
    right: -2rlh;
}
