.word {
    border: 1px solid lightblue;
    border-radius: 0.25rem;
    cursor: pointer;
    font-family: serif;
    padding-inline: 0.125rlh;
    position: relative;
    transition: background-color 125ms;
}

.word:hover {
    background-color: var(--ternary-color);
}

.word__input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.word__input:focus {
    background-color: lightcoral;
    border: 1px solid lightblue;
    border-radius: 0.25rem;
    padding-inline: 0;
    padding-block: 0;
    text-align: center;
    caret-color: white;
}

.word--dirty {
    background-color: lightgoldenrodyellow !important;
}
