{% load core_extras %}
{% load i18n %}
{% load humanize %}
<table class="table">
    <thead>
        <tr>
            <th>{% translate "Filename" %}</th>
            <th>{% translate "Type" %}</th>
            <th>{% translate "Size" %}</th>
            <th>{% translate "Last modified" %}</th>
            <th>{% translate "Download" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for file_info in downloads %}
            <tr>
                <td>
                    <a href="{% url 'projects:download-detail' project.id file_info.filename %}">{{ file_info.filename }}</a>
                </td>
                <td>{{ file_info.file_category|file_category_label }}</td>
                <td>
                    <span title="{{ file_info.size|intcomma }} Bytes">{{ file_info.size|filesizeformat }}</span>
                </td>
                <td>
                    <time datetime="{{ file_info.modified|date:'c' }}"
                          title="{{ file_info.modified|date:"r" }}">
                        {{ file_info.modified|naturalday:"SHORT_DATE_FORMAT" }}
                    </time>
                </td>
                <td>
                    <a href="{% url 'projects:download-download' project.id file_info.filename %}">{% translate "Download" %}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
