{% load humanize %}
{% load i18n %}
<table class="u-mt">
    <thead>
        <tr>
            <th>{% translate "Filename" %}</th>
            <th>{% translate "Type" %}</th>
            <th>{% translate "Size" %}</th>
            <th>{% translate "Status" %}</th>
            <th>{% translate "Created at" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for file in uploaded_files %}
            <tr>
                <td>
                    <a href="{% url 'projects:uploaded-file-detail' project.id file.id %}">{{ file.filename }}</a>
                </td>
                <td>{{ file.media_type }}</td>
                <td class="u-align-right">
                    <span title="{{ file.size|intcomma }} Bytes">{{ file.size|filesizeformat }}</span>
                </td>
                <td>
                    <span class="pill {% if file.status == 'complete' %}pill--success{% else %}pill--warning{% endif %}">
                        {{ file.get_status_display }}
                    </span>
                </td>
                <td>
                    <time datetime="{{ file.created_at|date:'c' }}"
                          title="{{ file.created_at|date:"r" }}">
                        {{ file.created_at|naturalday:"SHORT_DATE_FORMAT" }}
                    </time>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
