{% load i18n %}
<li class="card card--default">
    <a class="card__link" href="{% url 'projects:processing-request' processing_request.project_id processing_request.id %}"
        data-testid="processing-request-card">
        <h3 class="card__title">{{ processing_request.created_at }}</h3>
        <p class="card__details u-mt-small">
            <span class="pill {% if processing_request.status == 'completed' %}pill--success{% else %}pill--warning{% endif %}">
                {{ processing_request.get_status_display }}
            </span>
        </p>
    </a>
</li>
