{% load i18n %}
<li class="card card--default">
    <a class="card__link" href="{% url 'projects:detail' project.id %}" data-testid="project-card">
        <h3 class="card__title">{{ project.name }}</h3>
        <ul class="card__details u-mt-small">
            <li>
                {% blocktranslate count counter=project.uploaded_files.count %}one file{% plural %}{{ counter }} files{% endblocktranslate %}
            </li>
            <li>
                <time datetime="{{ project.created_at|date:'c' }}">
                    {{ project.created_at|date:"SHORT_DATE_FORMAT" }}
                </time>
            </li>
        </ul>
    </a>
</li>
