{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load django_htmx %}
{% block title %}{{ filename }} | {{ block.super }}{% endblock %}
{% block content %}
    <nav class="breadcrumbs">
        <p>
            <a class="breadcrumbs__link" href="{% url 'projects:index' %}">{% translate "Projects" %}</a> ▸
            <a class="breadcrumbs__link"
               href="{% url 'projects:detail' project.id %}">{{ project.title }}</a> ▸
            <a>{{ filename }}</a>
        </p>
    </nav>
    <h1>{{ filename }}</h1>
    {% if is_audio %}
        <audio controls>
            <source src="{% url 'projects:download-download' project.id filename %}" type="{{ type }}" />
        </audio>
    {% elif is_video %}
        <video controls>
            <source src="{% url 'projects:download-download' project.id filename %}" type="{{ type }}" />
        </video>
    {% endif %}
    <dl>
        <dt>{% translate "Modified" %}</dt>
        <dd>
            <time datetime="{{ modified|date:'c' }}"
                  title="{{ modified|date:"r" }}">
                {{ modified|naturalday:"SHORT_DATE_FORMAT" }}
            </time>
        </dd>
        <dt>{% translate "Type" %}</dt>
        <dd>
            {{ type }}
        </dd>
        <dt>{% translate "Size" %}</dt>
        <dd>
            <span title="{{ size|intcomma }} Bytes">
                {{ size|filesizeformat }}
            </span>
        </dd>
    </dl>
{% endblock content %}
