{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% block title %}{{ file_info.filename }} | {{ block.super }}{% endblock %}
{% block content %}
    <nav class="breadcrumbs">
        <p>
            <a class="breadcrumbs__link" href="{% url 'projects:index' %}">{% translate "Projects" %}</a> ▸
            <a class="breadcrumbs__link"
               href="{% url 'projects:detail' project.id %}">{{ project.title }}</a> ▸
            <a>{% translate "Downloads" %}</a> ▸
            <a>{{ file_info.filename }}</a>
        </p>
    </nav>
    <h1>{{ file_info.filename }}</h1>
    {% if file_info.is_audio %}
        <audio controls>
            <source src="{% url 'projects:download-download' project.id file_info.filename %}"
                    type="{{ file_info.type }}" />
        </audio>
    {% elif file_info.is_video %}
        <video controls width="480" class="video">
            <source src="{% url 'projects:download-download' project.id file_info.filename %}"
                    type="{{ file_info.type }}" />
        </video>
    {% endif %}
    <dl>
        <dt>{% translate "Modified" %}</dt>
        <dd>
            <time datetime="{{ file_info.modified|date:'c' }}"
                  title="{{ file_info.modified|date:"r" }}">
                {{ file_info.modified|naturalday:"SHORT_DATE_FORMAT" }}
            </time>
        </dd>
        <dt>{% translate "Type" %}</dt>
        <dd>
            {{ file_info.type }}
        </dd>
        <dt>{% translate "Size" %}</dt>
        <dd>
            <span title="{{ size|intcomma }} Bytes">{{ file_info.size|filesizeformat }}</span>
        </dd>
    </dl>
    <p>
        <a class="button-link"
           download
           href="{% url 'projects:download-download' project.id file_info.filename %}">{% translate "Download file" %}</a>
    </p>
    <form method="post"
          action="{% url 'projects:download-detail' project.id file_info.filename %}"
          class="form u-mt">
        {% csrf_token %}
        <button id="delete-button"
                type="submit"
                class="button button--danger"
                data-testid="delete-button">{% translate "Delete file" %}</button>
    </form>
{% endblock content %}
{% block javascript %}
<script>
    const deleteButton = document.querySelector('#delete-button');
    deleteButton.addEventListener('click', (event) => {
        const result = confirm('{% translate "Are you sure?" %}');
        if (!result) {
            event.preventDefault();
        }
    });
</script>
{% endblock %}
