{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<div class="container u-mt u-mb-large">
    <nav class="breadcrumbs">
        <p>
            <a class="breadcrumbs__link" href="{% url 'projects:index' %}">{% translate "Projects" %}</a> ▸
            <a class="breadcrumbs__link"
               href="{% url 'projects:detail' project.id %}">{{ project.title }}</a> ▸
            <a>{% translate "New Processing Request" %}</a>
        </p>
    </nav>
    <h1>{% translate "New Processing Request" %}</h1>
    <p class="u-ll">
        {% translate "Describe your processing request here and specify how the uploaded media files should be preprocessed." %}
    </p>

    <form method="post" class="form" data-testid="processing-request-form" x-data>
        {% csrf_token %}

        {# Uploaded files #}
        <div class="u-mt">
            <label for="{{ form.uploaded_files.id_for_label }}" class="form__label">{{ form.uploaded_files.label }}</label>
            {{ form.uploaded_files|add_class:"form__input" }}

            <div class="u-mt-small">
                <button
                    type="button"
                    @click="$el.closest('form').querySelectorAll('input[name=uploaded_files]').forEach(cb => cb.checked = true)"
                    class="button button--secondary button--small"
                >
                    {% translate "Select All" %}
                </button>
                <button
                    type="button"
                    @click="$el.closest('form').querySelectorAll('input[name=uploaded_files]').forEach(cb => cb.checked = false)"
                    class="button button--secondary button--small"
                >
                    {% translate "Select None" %}
                </button>
            </div>

            {{ form.uploaded_files.errors }}
        </div>

        {# Option: Make available on platform #}
        <div class="u-mt-small">
            {{ form.make_available_on_ohd|add_class:"form__input" }}
            <label for="{{ form.make_available_on_ohd.id_for_label }}"
                   class="form__label">{{ form.make_available_on_ohd.label }}</label>
        </div>
        {# Option: Replace existing files #}
        <div>
            {{ form.replace_existing_files|add_class:"form__input" }}
            <label for="{{ form.replace_existing_files.id_for_label }}"
                   class="form__label">{{ form.replace_existing_files.label }}</label>
        </div>
        {# Option: Check media files #}
        <div>
            {{ form.check_media_files|add_class:"form__input" }}
            <label for="{{ form.check_media_files.id_for_label }}" class="form__label">{{ form.check_media_files.label }}</label>
        </div>
        {# Option: Transcribe #}
        <div>
            {{ form.transcribe|add_class:"form__input" }}
            <label for="{{ form.transcribe.id_for_label }}" class="form__label">{{ form.transcribe.label }}</label>
        </div>
        <div>
            {{ form.non_field_errors }}
        </div>

        {# Language #}
        <div class="u-mt-small">
            <label for="{{ form.language.id_for_label }}" class="form__label">{{ form.language.label }}</label>
        </div>
        <div>{{ form.language|add_class:"form__input" }}</div>

        {# Description #}
        <div class="u-mt-small">
            <label for="{{ form.description.id_for_label }}" class="form__label">{{ form.description.label }}</label>
        </div>
        <div>{{ form.description|add_class:"form__input" }}</div>

        <div class="u-mt">
            <button type="submit" class="button button--primary">{% translate "Send processing request" %}</button>
            <button type="reset" class="u-ml-tiny button button--secondary">{% translate "Reset form" %}</button>
        </div>
    </form>
</div>
{% endblock content %}
