{% extends "base.html" %}
{% load i18n %}
{% load django_htmx %}
{% block title %}{{ project.title }} | {{ block.super }}{% endblock %}
{% block content %}
    <nav class="breadcrumbs">
        <p>
            <a class="breadcrumbs__link" href="{% url 'projects:index' %}">{% translate "Projects" %}</a> ▸
            <a>{{ project.title }}</a>
        </p>
    </nav>
    <h1 data-testid="project-name">{{ project.title }}</h1>
    {% if project.description %}<p class="u-ll u-mt">{{ project.description }}</p>{% endif %}
    <p class="u-mt">{% blocktranslate with date=project.created_at %}Created at {{ date }}.{% endblocktranslate %}</p>
    <p class="u-mt-small">
        <a href="{% url 'projects:settings' project.id %}" class="button-link">{% translate "Project settings" %}</a>
    </p>

    <hr class="u-mt">

    {% if perms.uploaded_files.view_uploadedfile %}
    <section>
        <h2>{% translate "Uploaded files" %}</h2>
        <p class="u-ll u-mt" data-testid="uploaded-files-count">
            {% if has_uploaded_files %}
                {% blocktranslate with file_count=project.uploaded_files.count %}This project has {{ file_count }} uploaded files.{% endblocktranslate %}
            {% else %}
                {% translate "No files have been uploaded to this project yet." %}
            {% endif %}
        </p>
        {% if has_uploaded_files %}
            {% include "projects/_file_table.html" %}
        {% endif %}

        {% if perms.uploaded_files.add_uploadedfile %}
        <p class="u-mt">
            <a href="{% url 'projects:upload' project.id %}" class="button-link">
                {% if has_uploaded_files %}
                    {% translate "Upload more files" %}
                {% else %}
                    {% translate "Upload files" %}
                {% endif %}
            </a>
        </p>
        {% endif %}
    </section>
    {% endif %}

    <section class="u-mt-large">
        <h2>{% translate "Downloadable files" %}</h2>
        <p class="u-ll u-mt u-mb" data-testid="downloadable-files-count">
            {% if project.downloadable_files_count %}
                {% blocktranslate with file_count=project.downloadable_files_count %}This project has {{ file_count }} downloadable files.{% endblocktranslate %}
            {% else %}
                {% translate "There are no files to download yet." %}
            {% endif %}
        </p>
        {% if downloads %}
            {% include "projects/_downloads_table.html" with project=project downloads=downloads only %}
        {% endif %}
    </section>

    {% if show_processing_request_section and perms.projects.view_processingrequest %}
        <section class="u-mt-large">
            <h2>{% translate "Processing requests" %}</h2>
            {% if has_processing_requests %}
                <div class="grid-wrapper u-mt">
                    <ul class="grid grid--default">
                        {% for processing_request in processing_requests %}
                            {% include "projects/_processing_request_card.html" with processing_request=processing_request only %}
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p class="u-ll u-mt">
                    {% translate "You haven’t submitted any processing requests yet." %}
                    <br>
                    {% translate "Use a processing request to ask an administrator to manually process or review your files — for example, for complex transcriptions or custom analyses." %}
                </p>
            {% endif %}

            {% if perms.projects.add_processingrequest %}
            <p class="u-ll u-mt">
                <a href="{% url 'projects:create-processing-request' project.id %}"
                   class="button-link">{% translate "New processing request" %}</a>
            </p>
            {% endif %}
        </section>
    {% endif %}
{% endblock content %}
{% block javascript %}
    {% include "htmx_csrf_token.html" %}
{% endblock javascript %}
