{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Projects" %} | {{ block.super }}
{% endblock %}
{% block content %}
    <nav class="breadcrumbs">
        <p>
            <a>{% translate "Projects" %}</a>
        </p>
    </nav>
    <h1>{% translate "Projects" %}</h1>
    {% if projects %}
        <div class="grid-wrapper">
            <ul class="grid grid--project">
                {% for project in projects %}
                    {% include "projects/_project_card.html" with project=project only %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p class="u-ll">{% translate "You have no projects yet." %}</p>
    {% endif %}
    {% if perms.projects.add_project %}
        <p class="u-ll u-mt">
            <a href="{% url 'projects:create' %}" class="button-link" data-testid="new-project-link">{% translate "Create a new project" %}</a>
        </p>
    {% endif %}
{% endblock content %}
