{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <h1>{% translate "New project" %}</h1>
    <form method="post" class="form">
        {% csrf_token %}
        {# Name #}
        <div>
            <label for="{{ form.name.id_for_label }}" class="form__label">{{ form.name.label }}</label>
        </div>
        <div>{{ form.name|add_class:"form__input" }}</div>
        {# Description #}
        <div class="u-mt-small">
            <label for="{{ form.description.id_for_label }}" class="form__label">
                {{ form.description.label }} ({% translate "optional" %})
            </label>
        </div>
        <div>{{ form.description|add_class:"form__input" }}</div>
        <div class="u-mt">
            <button type="submit" class="form__button">{% translate "Create project" %}</button>
        </div>
    </form>
{% endblock content %}
