{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load django_htmx %}
{% block title %}{{ uploaded_file.filename }} | {{ block.super }}{% endblock %}
{% block content %}
    <nav class="breadcrumbs">
        <p>
            <a class="breadcrumbs__link" href="{% url 'projects:index' %}">{% translate "Projects" %}</a> ▸
            <a class="breadcrumbs__link"
               href="{% url 'projects:detail' project.id %}">{{ project.name }}</a> ▸
            <a>{{ uploaded_file.filename }}</a>
        </p>
    </nav>
    <h1>{{ uploaded_file.filename }}</h1>
    <dl>
        <dt>{% translate "Created at" %}</dt>
        <dd>
            <time datetime="{{ uploaded_file.created_at|date:'c' }}"
                  title="{{ uploaded_file.created_at|date:"r" }}">
                {{ uploaded_file.created_at|naturalday:"SHORT_DATE_FORMAT" }}
            </time>
        </dd>
        <dt>{% translate "Type" %}</dt>
        <dd>
            {{ uploaded_file.media_type }}
        </dd>
        <dt>{% translate "Status" %}</dt>
        <dd>
            <span class="pill {% if uploaded_file.is_file_okay %}pill--success{% else %}pill--warning{% endif %}">
                {{ uploaded_file.status_human }}
            </span>
        </dd>
        <dt>{% translate "Size" %}</dt>
        <dd>
            <span title="{{ uploaded_file.size|intcomma }} Bytes">
                {{ uploaded_file.size|filesizeformat }}
            </span>
        </dd>
        <dt>{% translate "Transferred" %}</dt>
        <dd>
            <span title="{{ uploaded_file.transferred|intcomma }} Bytes">
                {{ uploaded_file.transferred|filesizeformat }}
            </span>
        </dd>
        <dt>{% translate "Server checksum" %}</dt>
        <dd>
            {{ uploaded_file.checksum_server }}
        </dd>
        <dt>{% translate "Client checksum" %}</dt>
        <dd>
            {{ uploaded_file.checksum_client }}
        </dd>
    </dl>
    {% if perms.uploaded_files.delete_uploadedfile %}
        <form action="{% url 'uploaded_files:delete' uploaded_file.id %}"
              method="post"
              class="form">
            {% csrf_token %}
            <button onclick="return confirm('{% translate "Are you sure?" %}')"
                    type="submit"
                    class="button button--danger"
                    data-testid="delete-button">{% translate "Delete uploaded file" %}</button>
        </form>
    {% endif %}
{% endblock content %}
