{% extends "base.html" %}
{% load django_vite %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{{ project.name }} | {{ block.super }}{% endblock %}
{% block content %}
    <nav class="breadcrumbs">
        <p>
            <a class="breadcrumbs__link" href="{% url 'projects:index' %}">{% translate "Projects" %}</a> ▸
            <a class="breadcrumbs__link"
               href="{% url 'projects:detail' project.id %}">{{ project.name }}</a> ▸
            <a>{% translate "Upload Files" %}</a>
        </p>
    </nav>
    <h1>{% translate "Upload Files" %}</h1>
    <p class="u-ll">{% translate "Upload files for this project." %}</p>
    <form id="upload-form"
          action=""
          method="post"
          data-project-id="{{ project.id }}"
          class="form u-mt"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="{{ form.files.id_for_label }}" class="form__label">{{ form.files.label }}*</label>
        </div>
        <div>{{ form.files|add_class:"form__input" }}</div>
        <div class="u-mt">
            <button type="submit" class="form__button">{% translate "Upload files" %}</button>
        </div>
    </form>
{% endblock content %}
{% block javascript %}
    {% vite_asset 'assets/js/upload_form.js' %}
{% endblock javascript %}
