{% extends "base.html" %}
{% load django_vite %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{{ project.title }} | {{ block.super }}{% endblock %}
{% block content %}
    <nav class="breadcrumbs">
        <p>
            <a class="breadcrumbs__link" href="{% url 'projects:index' %}">{% translate "Projects" %}</a> ▸
            <a class="breadcrumbs__link"
               href="{% url 'projects:detail' project.id %}">{{ project.title }}</a> ▸
            <a>{% translate "Upload Files" %}</a>
        </p>
    </nav>
    <h1>{% translate "Upload Files" %}</h1>
    <p class="u-ll">
        {% translate "Upload one or more files for your project here." %}
    </p>
    <p class="u-ll u-mt-small">
        {% translate "Please note that depending on your internet connection and file size, the upload may take longer." %}
    </p>
    <p class="u-ll u-mt-small">
        {% translate "If you upload media files to the Oral-History.Digital platform, please ensure that you name the files correctly:" %}
        <a href="https://wikis.fu-berlin.de/x/9YO3W" target="_blank">{% translate "oh.d help" %}</a>
        ({% translate "alternatively:" %}
        <a href="https://www.oral-history.digital/hilfe-neu/hilfe-erschliessen/ohd-hilfe-de-2026-02-13.pdf" target="_blank">{% translate "help as a PDF file" %}</a>)
    </p>
    <form id="upload-form"
          action=""
          method="post"
          data-project-id="{{ project.id }}"
          data-testid="upload-files-form"
          class="form u-mt"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div>{{ form.files|add_class:"file-input" }}</div>
        <div class="u-mt">
            <button id="upload-form-submit"
                    type="submit"
                    disabled
                    class="button button--primary">{% translate "Upload files" %}</button>
        </div>
    </form>
{% endblock content %}
{% block javascript %}
    {% vite_asset 'assets/js/upload_form.js' %}
{% endblock javascript %}
