/.git
/.idea
/.ruff_cache
/.pytest_cache
/.vscode
/.venv
/node_modules
/build
/coverage
/e2e
/dev_emails
/staticfiles
/user_files
/user_files_test
/vite_assets_dist

__pycache__
*.tar
*.test.js

test_data.json
conftest.py
biome.json
tsconfig.json
vitest.config.js
