DJANGO_RUNSERVER_HIDE_WARNING=true
# Create secret key with:
# python manage.py shell -c 'from django.core.management import utils; print(utils.get_random_secret_key())'
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=example.com,www.example.com
DATABASE_NAME=mmt
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_HOST=localhost
EMAIL_FROM=bob@example.com
CELERY_BROKER_URL=redis://localhost
NER_API_URL=http://localhost:8001
# The transcription feature is disabled when ASR_API_URL is not set
ASR_API_URL=http://localhost:8002
# Sentry error tracking URL (optional)
SENTRY_URL=
OPENID_CONNECT_SERVER_URL=http://portal.oral-history.localhost:3000
OPENID_CONNECT_SECRET=secret
SILK_ENABLED=false
