aiofiles==24.1.0
ansible==11.4.0
black==25.1.0
bpython==0.25
celery==5.4.0
django-cors-headers==4.7.0
django-debug-toolbar==5.1.0
django-environ==0.12.0
django-extensions==3.2.3
django-htmx==1.23.0
django-json-widget==2.0.1
django-storages==1.14.5
django-vite==3.1.0
django-widget-tweaks==1.5.0
django==5.1.7
djlint==1.36.4
faker==37.1.0
flake8==7.1.2
mysqlclient==2.2.7
redis==5.2.1
sentry-sdk[django]==2.24.1
watchdog==6.0.0
whitenoise==6.9.0
