aiofiles==24.1.0
celery==5.4.0
django-dotenv==1.4.2
django-htmx==1.22.0
django-json-widget==2.0.1
django-storages==1.14.5
django-vite==3.0.6
django-widget-tweaks==1.5.0
django==5.1.6
gunicorn==23.0.0
Hypercorn==0.17.3
mysqlclient==2.2.7
redis==5.2.1
sentry-sdk[django]==2.22.0
whitenoise==6.9.0
