{% load i18n %}
<ul class="grid grid--welcome">
    {% if perms.projects.add_project %}
        <li class="card card--special">
            <a class="card__link" href="{% url 'projects:create' %}">
                <h3 class="card__title">{% translate "Create a new project" %}</h3>
            </a>
        </li>
    {% endif %}
    {% if perms.projects.view_project %}
        <li class="card card--special">
            <a class="card__link" href="{% url 'projects:index' %}">
                <h3 class="card__title">
                    {% blocktranslate count counter=project_count %}One project{% plural %}{{ counter }} projects{% endblocktranslate %}
                </h3>
            </a>
        </li>
    {% endif %}
    <li class="card card--special">
        {% if user.is_authenticated %}
            <a class="card__link" href="{% url 'downloads:download_index' %}">
                <h3 class="card__title">
                    {% blocktranslate count counter=download_file_count %}One downloadable file{% plural %}{{ counter }} downloadable files{% endblocktranslate %}
                </h3>
            </a>
        {% else %}
            <a class="card__link" href="{% url 'downloads:download_index' %}">
                <h3 class="card__title">{% translate "Downloadable files" %}</h3>
            </a>
        {% endif %}
    </li>
</ul>
