{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }}{% endblock %}
{% block content %}
    <div class="hero" data-testid="hero">
        <div class="hero__inner">
            {% include "core/multimedia.svg" only %}
            <div class="hero__body">
                <h1 class="hero__title">{% translate "Media Management Tool" %}</h1>
                <div class="hero__text grid-wrapper u-mt">
                    {% include "core/welcome_cards.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
