{% load i18n %}
{% if user.is_authenticated %}
    <ul class="grid grid--welcome">
        <li class="card card--special">
            <a class="card__link" href="{% url 'projects:create' %}" data-testid="new-project-link">
                <h3 class="card__title">{% translate "Create a new project" %}</h3>
            </a>
        </li>
        <li class="card card--special">
            <a class="card__link" href="{% url 'projects:index' %}">
                <h3 class="card__title">
                    {% blocktranslate count counter=project_count %}{{ counter }} project{% plural %}{{ counter }} projects{% endblocktranslate %}
                </h3>
            </a>
        </li>
    </ul>
{% else %}
    <p class="u-ll">
        {% translate "The Media Management Tool (MMT) enables the following steps:" %}
    </p>
    <ol>
        <li>{% translate "Create a project" %}</li>
        <li>{% translate "Upload media files" %}</li>
        <li>{% translate "Request editing" %}</li>
        <li>{% translate "Download media" %}</li>
    </ol>
    <p class="u-ll">
        {% trans "Only you can access the data you upload to MMT." %}
    </p>
    <p class="u-ll">
        {% blocktrans %}MMT is an application by <a href="https://www.oral-history.digital/" target="_blank" rel="noreferrer">Oral-History.Digital.</a>{% endblocktrans %}
    </p>
    <ul class="grid grid--welcome u-mt">
        <li class="card card--special">
            <a class="card__link" href="{% url 'account_login' %}">
                <h3 class="card__title">{% translate "Log in" %}</h3>
            </a>
        </li>
    </ul>
{% endif %}
