{% load i18n %}
{% if notice %}
{% get_current_language as LANGUAGE_CODE %}
<div class="container u-mb">
  <aside class="notice" data-testid="notice">
    <h2 class="notice__title">
      {% if LANGUAGE_CODE == "de" %}
        {{ notice.title_de }}
      {% else %}
        {{ notice.title_en }}
      {% endif %}
    </h2>
    <p class="notice__content u-ll">
      {% if LANGUAGE_CODE == "de" %}
        {{ notice.content_de }}
      {% else %}
        {{ notice.content_en }}
      {% endif %}
    </p>
  </aside>
</div>
{% endif %}
