{% load i18n %}
{% load static %}
<footer class="footer site__footer">
    <div class="footer__inner container container--wide">
        <p class="u-align-center">
            {% translate "MMT" %}
            <a href="https://github.com/asr4memory/mmt-py">v{{ APP_VERSION }}</a>
            <a href="https://www.oral-history.digital/"
               class="u-ml-small"
               aria-label="{% translate 'Oral-History.Digital project website' %}">
                <img src="{% static 'ohd-logo.png' %}"
                     alt="oh.d Logo"
                     class="footer__logo footer__logo--ohd"
                     width="75"
                     height="24">
            </a>
        </p>
        <nav class="secondary-nav u-mt">
            <ul class="secondary-nav__list">
                <li class="secondary-nav__item">
                    <a href="https://www.oral-history.digital/impressum/index.html"
                       target="_blank"
                       rel="noreferrer"
                       class="secondary-nav__link">{% translate "Legal notice" %}</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://www.oral-history.digital/kontakt/index.html"
                       target="_blank"
                       rel="noreferrer"
                       class="secondary-nav__link">{% translate "Contact" %}</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://www.oral-history.digital/impressum/datenschutzhinweise/index.html"
                       target="_blank"
                       rel="noreferrer"
                       class="secondary-nav__link">{% translate "Privacy" %}</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://portal.oral-history.digital/de/conditions"
                       target="_blank"
                       rel="noreferrer"
                       class="secondary-nav__link">{% translate "Terms of use" %}</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://www.oral-history.digital/impressum/barrierefreiheit/index.html"
                       target="_blank"
                       rel="noreferrer"
                       class="secondary-nav__link">{% translate "Accessibility" %}</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://www.oral-history.digital/hilfe/index.html#Anker1"
                       target="_blank"
                       rel="noreferrer"
                       class="secondary-nav__link">{% translate "Help" %}</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
