{% load i18n %}
<footer class="footer site__footer">
    <div class="footer__inner container container--wide">
        <p class="u-align-center">{% translate "MMT Py" %}</p>
        <nav class="secondary-nav u-mt">
            <ul class="secondary-nav__list">
                <li class="secondary-nav__item">
                    <a href="https://www.oral-history.digital/impressum/index.html" target="_blank" rel="noreferrer" class="secondary-nav__link">{% translate "Legal notice" %}</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://www.oral-history.digital/kontakt/index.html" target="_blank" rel="noreferrer" class="secondary-nav__link">{% translate "Contact" %}</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="https://www.oral-history.digital/impressum/datenschutzhinweise/index.html" target="_blank" rel="noreferrer" class="secondary-nav__link">{% translate "Privacy" %}</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
