:root {
    --primary-color: var(--red);
    --secondary-color: #040000;
    --ternary-color: #ddd;
    --special-color: #dbbdbb;
    --color-logo: var(--primary-color);
    --error-color: var(--primary-color);
    --color-scheme-5: #32435e;
    --color-scheme-6: #496288;
    --text-color: #222222;
    --text-color-bright: #fff;
    --subdued-text-color: #555;
    --heading-color: #000;
    --ui-color: #555;
    --ui-color-bright: #999;
    --ui-mid-neutral-color: #888;
    --active-color: darkgreen;
    --header-color: var(--gray-dark);
    --footer-color: var(--blue-light);
    --inverted-text-color: white;

    /*
    --new-color-scheme-1: #f9d4d2;
    --new-color-scheme-2: #fce9d9;
    --new-color-scheme-3: #d9f0f2;
    --new-color-scheme-4: #e12118;
    --new-color-scheme-5: #a3d2ca;
    */

    --new-color-scheme-1: #cce3cb;
    --new-color-scheme-2: #cbcce3;
    --new-color-scheme-3: #1a1a1a;
    --new-color-scheme-4: oklch(0.5825 0.2234 29.13);
    --new-color-scheme-5: #e3cbcc;

    --red-orig: #e10a10;
    --green-orig: #10e10a;
    --blue-orig: #0a10e1;

    --red: oklch(0.5739 0.2317 28.4);
    --green: oklch(0.7891 0.2659 142.44);
    --blue: oklch(0.4194 0.2792 264.99);

    --red-light: oklch(0.95 0.05 28.4);
    --green-light: oklch(0.95 0.01 142.44);
    --blue-light: oklch(0.95 0.01 264.99);
    --blue-light2: oklch(0.93 0.01 264.99);
    --blue-light3: oklch(0.85 0.01 264.99);

    --yellow-light: oklch(98.264% 0.05545 104.108);
    --yellow-dark: oklch(86.087% 0.09003 104.661);

    --red-dark: oklch(0.3 0.4 28.4);
    --green-dark: oklch(0.45 0.2 142.44);
    --blue-dark: oklch(0.35 0.05 264.99);

    --gray-dark: oklch(0.3 0 0);

    --default-card-color: var(--blue-light);
    --special-card-color: var(--blue-light);
}
