:root {
    --page-width: 42rlh;
    --page-width-wide: 48rlh;
    --page-width-narrow: 32rlh;
    --border-radius-s: 0.125rlh;
    --border-radius-m: 0.25rlh;
    --border-radius-l: 0.5rlh;
    --transition-duration: 125ms;
    --transition-function: ease-in;
}
