:root {
    line-height: 1.5rem;
    --line-length: clamp(min(93.75vw, 50ch), 70vw, 75ch);
    --font-stack: system-ui, sans-serif;
    --font-stack-serif:
        Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
    --font-size-normal: 1rem;
    --font-size-small: 0.875rem;
    --font-size-large: 1.2rem;
    --icon-size: 0.5rlh;
}
