:root {
  --base-unit: 1.5rem;
  --line-height: var(--base-unit);
  /* Spacing */
  --page-width: calc(var(--base-unit) * 48);
  --page-width-wide: calc(var(--base-unit) * 60);
  /* Typography */
  --line-length: calc(var(--base-unit) * 25);
  --font-stack: system-ui, sans-serif;
  --font-stack-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --font-size-normal: 1rem;
  --font-size-small: 0.875rem;
  --font-size-large: 1.25rem;
  --icon-size: calc(var(--base-unit) / 2);
  /* Other */
  --border-radius: 3px;
  --transition-duration: 125ms;
}
