{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Upload Jobs" %} | {{ block.super }}
{% endblock %}
{% block content %}
    <nav class="breadcrumbs">
        <p>
            <a>{% translate "Upload Jobs" %}</a>
        </p>
    </nav>
    <h1 class="h1">{% translate "Upload Jobs" %}</h1>
    {% if upload_jobs %}
        <div class="grid-wrapper">
            <ul class="grid grid--upload-job">
                {% for job in upload_jobs %}
                    {% include "upload_jobs/upload_job_card.html" with job=job only %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p class="u-ll">{% translate "There are no upload jobs yet." %}</p>
    {% endif %}
    {% if perms.upload_jobs.add_uploadjob %}
        <p class="u-ll u-mt">
            <a href="{% url 'upload_jobs:create' %}">{% translate "Create a new upload job" %}</a>
        </p>
    {% endif %}
{% endblock content %}
