{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Confirm password" %} | {{ block.super }}
{% endblock title %}
{% block content %}
    <h1 class="h1">{% translate "Confirm password" %}</h1>
    {% if validlink %}
        {% if form.errors %}{{ form.errors }}{% endif %}
        <form method="post" class="form u-mt">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button button--primary">{% translate "Change password" %}</button>
        </form>
    {% else %}
        <p>{% translate "Invalid password reset link!" %}</p>
    {% endif %}
{% endblock content %}
